.post-today {
  padding-top: 2rem;
  min-height: calc(100% - 172px);
  position: relative;
}

.post-today span {
  font-weight: bold;
}

.post-today .show-time {
  font-weight: bold;
  text-transform: lowercase;
}

.ant-timeline-item-tail {
  border-left: 2px solid #b7d1d2;
}
