.page-notfound {
  min-height: 280px;
  background-size: cover;
  max-width: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 320px) {
  .page-notfound {
    min-height: 280px;
    background-size: cover;
    max-width: 280px;
  }
}

@media (max-width: 767.98px) {
  .page-notfound {
    min-height: 300px;
    background-size: cover;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .page-notfound {
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    max-width: 500px;
  }
}
